@using Microsoft.AspNetCore.Identity
@using CarPoint.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark"
               href="#"
               id="userDropdown"
               role="button"
               data-bs-toggle="dropdown"
               aria-expanded="false">
                Здравей, @UserManager.GetUserName(User)
            </a>

            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                <li>
                    <a class="dropdown-item"
                       asp-area="Identity"
                       asp-page="/Account/Manage/Index">
                        Настройки
                    </a>
                </li>

                <li>
                    <a class="dropdown-item"
                       asp-controller="Rentals"
                       asp-action="MyRentals">
                        Моите наеми
                    </a>
                </li>

                <li>
                    <a class="dropdown-item"
                       asp-controller="Support"
                       asp-action="MyTickets">
                        Моите билети за помощ
                    </a>
                </li>

                <li>
                    <a class="dropdown-item"
                       asp-controller="Favorites"
                       asp-action="Index">
                        Любими
                    </a>
                </li>

                <li><hr class="dropdown-divider" /></li>

                <li>
                    <form id="logoutForm"
                          asp-area="Identity"
                          asp-page="/Account/Logout"
                          asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button id="logout" type="submit" class="dropdown-item">
                            Изход
                        </button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
