@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)"
           id="profile"
           asp-page="./Index">
            Профил
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)"
           id="change-password"
           asp-page="./ChangePassword">
            Парола
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link"
           id="my-rentals"
           href="/Rentals/My">
            Моите наеми
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link"
           id="my-support-tickets"
           href="/Support/My">
            Моите заявки
        </a>
    </li>
</ul>
